body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-layout {
  width: 100% !important;
}

.ant-form-item-required::before {
  content: "*";
  margin-right: 4px;
  color: red; /* Cambia el color del asterisco a rojo */
}

.fc-timegrid-slot {
    height: 40px !important;
}

.ant-table-cell {
    background-color: transparent !important;
}
