body,
html,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.site-layout {
    width: 100% !important;
}

.ant-form-item-required::before {
    content: "*";
    margin-right: 4px;
    color: red; /* Cambia el color del asterisco a rojo */
}

.fc-timegrid-slot {
    height: 40px !important;
}

.ant-table-cell {
    background-color: transparent !important;
}

/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-left: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.6);
}

/* Table Hover Effect */
.ant-table-tbody > tr:hover > td.ant-table-cell {
    background-color: rgba(0, 0, 0, 0.04) !important;
    cursor: pointer;
}

.ant-table-row-selected {
    background-color: #0A84FF !important;
    color: #fff !important;
}
